<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @remedy.quantidade %>
</p>

<p>
  <strong>Name:</strong>
  <%= @remedy.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @remedy.user_id %>
</p>

<%= link_to 'Back', user_remedies_path %>
